@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E111A;
}

.text-stroke-black {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

._border-t{
    border: 1px solid transparent;
    border-image: linear-gradient(to left top,#adf2f7 10%,  transparent 30%, transparent 70%, #adf2f7 90%);
    border-image-slice: 1;
}
._shadow{
    box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.04);
}